<div class="statistic">
  <ng-container
    [tuiTreeController]="false"
    *tuiLet="players$ | async as players"
  >
    <tui-tree-item
      *ngFor="let team of teams$ | async"
      [ngStyle]="{ color: '#' + team.color }"
      class="tui-text_h3 teams"
    >
      {{ team.name }}
      <tui-tree-item
        class="tui-text_h6"
        *ngFor="let pl of players | player: team.name"
        (click)="focusPlayer(pl.id)"
      >
        [{{ pl.id }}] {{ pl.level }} level
      </tui-tree-item>
      <tui-tree-item></tui-tree-item>
    </tui-tree-item>
  </ng-container>
  <!--  <div-->
  <!--    *ngFor="let team of teams$ | async"-->
  <!--    [ngStyle]="{ color: '#' + team.color }"-->
  <!--    class="tui-text_h3 teams"-->
  <!--  >-->
  <!--    {{ team.name }}-->
  <!--  </div>-->
  <tui-scrollbar class="chat-room" [hidden]="true" tuiOverscroll="scroll">
    <cdk-virtual-scroll-viewport
      #chatView
      tuiScrollable
      itemSize="50"
      class="chat-viewport tui-zero-scrollbar"
    >
      <div *cdkVirtualFor="let item of messages$ | async" class="chat-message">
        #{{ item.id
        }}<span [ngStyle]="{ color: item.color }">[{{ item.team }}]</span
        ><strong class="tui-space_right-1">:</strong>
        <span class="message"> {{ item.text }} </span>
        <span class="time tui-space-left-3">{{
          item.timestamp | date: 'HH:mm'
        }}</span>
      </div>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
  <tui-scrollbar class="chat-room" [hidden]="true" tuiOverscroll="scroll">
    <cdk-virtual-scroll-viewport
      #logView
      tuiScrollable
      itemSize="50"
      class="chat-viewport tui-zero-scrollbar"
    >
      <div
        *cdkVirtualFor="let item of log$ | async; index as i"
        class="chat-message"
      >
        <!--        [{{ i }}]<strong class="tui-space_right-1">:</strong>-->
        <span class="message"> {{ item.text }} </span>
        <span class="time tui-space-left-3">{{
          item.timestamp | date: 'HH:mm'
        }}</span>
      </div>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
</div>
