<div class="statistic">
  <div
    *ngFor="let team of teams$ | async"
    [ngStyle]="{ color: '#' + team.color }"
    class="tui-text_h3 teams"
  >
    {{ team.name }}
  </div>
  <tui-scrollbar class="chat-room" [hidden]="true">
    <cdk-virtual-scroll-viewport
      #chatView
      tuiScrollable
      itemSize="50"
      class="chat-viewport tui-zero-scrollbar"
    >
      <div *cdkVirtualFor="let item of messages$ | async" class="chat-message">
        #{{ item.id
        }}<span [ngStyle]="{ color: item.color }">[{{ item.team }}]</span
        ><strong class="tui-space_right-1">:</strong>
        <span class="message"> {{ item.text }} </span>
        <span class="time tui-space-left-3">{{
          item.timestamp | date: 'HH:mm'
        }}</span>
      </div>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
  <tui-scrollbar class="chat-room" [hidden]="true">
    <cdk-virtual-scroll-viewport
      #logView
      tuiScrollable
      itemSize="50"
      class="chat-viewport tui-zero-scrollbar"
    >
      <div
        *cdkVirtualFor="let item of log$ | async; index as i"
        class="chat-message"
      >
        <!--        [{{ i }}]<strong class="tui-space_right-1">:</strong>-->
        <span class="message"> {{ item.text }} </span>
        <span class="time tui-space-left-3">{{
          item.timestamp | date: 'HH:mm'
        }}</span>
      </div>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
</div>
