:host {
  flex: 1 1 auto;
  .map {
    //height: 100%;
    display: grid;
    gap: 2px;
    .cell {
      background-color: #b183c5;

      aspect-ratio: 1/1;
      width: 100px;
      overflow: hidden;
      &:focus-within {
        outline: 2px solid #176500;
      }
    }
    tui-avatar:focus {
      border: 2px solid #176500;
    }
    .cell-content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
