<tui-scrollbar class="box">
  <div class="map" (mouseleave)="showHint()">
    <!--  <div *ngFor="">text</div>-->
    <div
      class="cell"
      *ngFor="let item of worldMap | async; trackBy: trackBy"
      [tuiPointerHint]="item | json"
    >
      <div class="cell-content">
        <tui-badged-content
          *ngFor="let res of item.res | keyvalue"
          size="s"
          [contentTop]="res.value"
          [rounded]="true"
        >
          <tui-avatar
            [text]="res.key"
            size="s"
            [title]="res.key"
            [rounded]="true"
          ></tui-avatar>
        </tui-badged-content>
        <tui-badged-content
          *ngFor="let player of item.players"
          size="l"
          [contentTop]="player.level"
          [colorTop]="'red'"
          [rounded]="true"
          class="player"
          [contentBottom]="player.direction"
        >
          <tui-avatar
            [text]="'' + player.id"
            [style.--tui-text-01]="invertColor(player.color)"
            size="l"
            [title]="player.team"
            [rounded]="true"
            [ngStyle]="{ color: player.color }"
          ></tui-avatar>
        </tui-badged-content>
      </div>
    </div>

    <!--  <canvas #canvas></canvas>-->
  </div>
</tui-scrollbar>
