<div class="controls">
  <div class="controls-mode" *tuiLet="mode$ | async as mode">
    <tui-marker-icon
      style="background: transparent"
      (click)="changeMode('3d')"
      src="/assets/icon/icons8-octaedro.svg"
      size="xs"
      *ngIf="mode === '2d'"
    ></tui-marker-icon>
    <tui-marker-icon
      (click)="changeMode('2d')"
      class="marker"
      src="tuiIconStructureLarge"
      size="xs"
      *ngIf="mode === '3d'"
    ></tui-marker-icon>
  </div>
  <div class="controls-speed" *ngIf="speed$ | async as speed">
    <tui-marker-icon
      (click)="decreaseSpeed()"
      [ngClass]="{ inactive: speed === 1 }"
      class="marker"
      src="tuiIconMinusLarge"
      size="xs"
    ></tui-marker-icon>
    <span> X {{ speed }} </span>
    <tui-marker-icon
      (click)="increaseSpeed()"
      [ngClass]="{ inactive: speed === 512 }"
      class="marker"
      src="tuiIconPlusLarge"
      size="xs"
    ></tui-marker-icon>
  </div>
  <div class="controls-sound">
    <tui-marker-icon
      (click)="mute()"
      class="marker"
      src="tuiIconSoundOffLarge"
      size="xs"
      *ngIf="soundVolume.value === 0; else soundIcon"
    ></tui-marker-icon>
    <tui-slider
      [formControl]="soundVolume"
      [max]="100"
      class="slider"
    ></tui-slider>
  </div>
</div>
<ng-container *ngIf="info$ | async as info">
  <div class="info tui-list" *ngIf="info.type === 'cell'">
    Сan be found here:
    <div *ngFor="let item of info.data.res | keyvalue">
      <tui-badge
        [value]="item.value"
        [ngClass]="item.key | lowercase"
        class="tui-space_right-2"
      ></tui-badge>
      {{ item.key }}
    </div>
    <div *ngIf="!(info.data.res | keyvalue).length" class="tui-space_left-5">
      Nothing
    </div>
  </div>
  <div class="info tui-list" *ngIf="info.type === 'player'">
    <div>Name: {{ info.data.id }}</div>
    <div>Team: {{ info.data.team }}</div>
    <div>Level: {{ info.data.level }}</div>
    <div class="tui-list">
      <strong>Inventory:</strong>
      <div *ngFor="let item of info.data.inventory | keyvalue">
        <tui-badge
          [value]="item.value"
          [ngClass]="item.key | lowercase"
          class="tui-space_right-2 tui-space_left-5"
        ></tui-badge>
        {{ item.key }}
      </div>
      <div
        *ngIf="!(info.data.inventory | keyvalue).length"
        class="tui-space_left-5"
      >
        Empty
      </div>
    </div>
  </div>
</ng-container>
<ng-template #soundIcon>
  <tui-marker-icon
    class="marker"
    src="tuiIconSoundLarge"
    size="xs"
    (click)="mute()"
  ></tui-marker-icon>
</ng-template>
