@import '~@taiga-ui/core/styles/taiga-ui-local';
:host {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  .info {
    right: 2rem;
    position: absolute;
    bottom: 2rem;
    background: silver;
    padding: 1rem;
    border: 1px solid darkgray;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include shadow(3);
  }
  .controls {
    pointer-events: auto;
    user-select: none;
    right: 2rem;
    top: 1rem;
    position: absolute;
    display: flex;
    &-sound {
      position: relative;
      padding-left: 2rem;
      .marker {
        color: var(--tui-base-01);
        background: radial-gradient(
          circle at 65% 20%,
          #f8c265 -9%,
          #ab4802 19%,
          #562e00 60%,
          #a65502 100%
        );
      }
      .slider {
        position: absolute;
        width: 100px;
        right: 0;
        top: 0;
        margin-top: 2.5rem;
        display: none;
      }
      &:hover .slider {
        display: block;
      }
    }
  }
}
