.nourriture {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #8cff00 3%,
    #2e8b00 60%,
    #8cff00 100%
  );
}
.linemate {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #a1a1a1 3%,
    #595959 60%,
    #afafaf 100%
  );
}
.deraumere {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #ff0090 3%,
    #8b0005 60%,
    #ff00a6 100%
  );
}
.sibur {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    aqua 3%,
    darkblue 60%,
    aqua 100%
  );
}
.mendiane {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #9900ff 3%,
    #58008b 60%,
    #7300ff 100%
  );
}
.phiras {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #fffb00 3%,
    #868b00 60%,
    #ffea00 100%
  );
}
.thystame {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #ff8800 3%,
    #8b4a00 60%,
    #ff8000 100%
  );
}
