:host {
  .wrapper {
    display: flex;
    height: 100%;
  }
  .statistic-scroll {
    min-width: calc(var(--statisic-size) + 30px);
  }
}
::ng-deep {
  .statistic-scroll {
    .content {
      height: 100% !important;
    }
  }
  .map {
    flex: 1 1 auto;
    .content {
      height: 100% !important;
    }
  }
}
